__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.hypothesis/
.git/
.gitignore
.env
.env.*
*.md
.vscode/
.idea/
.DS_Store
Thumbs.db
